.article-card {
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 2vh;
    margin: 1em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.article-image {
    max-width:  100%;
    border-radius: 1em;
}

.article-card h3 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 0.5em
}

.article-card p {
    color: black;
    font-size: 1em;
    margin-bottom: 0.5em;
}

