.navbar {
    background-color: #01c7ad;
    color: #eb1b24;
    padding: 1em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.nav-item {
    
    margin-right: 1em;
}

.nav-link {
    color: #eb1b24;
    padding: 0.5em 2em;
    
    border-radius: 0.5em;
    
}

.nav-link:hover,
.nav-link.active {
    background-color: rgb(247, 179, 179);
}

